
  <mat-card class="example-card m-2">
    <mat-card-header>
      <mat-card-title>
        {{ user.firstName  + ' ' +  user.lastName }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ user.city + ', ' + user.country }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/empty-avatar.png" alt="{{ user.firstName  + ' ' +  user.lastName }}">
    <mat-card-content>
      {{ user.dateOfBirthAsStr }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              [routerLink]="'/users/details/' + user.id"
              (click)="onDetailsClick()">DETAILS</button>

      <button mat-button
              (click)="onEditClick()">EDIT</button>
    </mat-card-actions>
  </mat-card>


