<!--Top menu-->
<mat-toolbar color="primary" class="docs-navbar-header">
  <span>
    {{ title }}
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span class="search-field">
    <app-search-field></app-search-field>
  </span>
</mat-toolbar>
<div class="main-content-wrapper">
  <mat-progress-bar mode="indeterminate"
                    *ngIf="(loading$ | async)"
                    color="warn"></mat-progress-bar>
  <div class="container-fluid m-3">
    <router-outlet></router-outlet>
  </div>
</div>
